#Yoda {
border: 20px solid black;
height: 400px;
width: 700px;
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 150px;
}
body {
    background-color: rgb(72, 73, 75);
    color: black;
}
#home {
    background-image: url(https://static.vecteezy.com/system/resources/previews/006/852/804/original/abstract-blue-background-simple-design-for-your-website-free-vector.jpg);
}
#port {
    background-image: url(https://i.redd.it/gi2raaj22bna1.jpg);
}
#abt {
    background-image: url(https://img.freepik.com/premium-vector/abstract-dark-blue-gradient-circles-background-vector-illustration_518299-622.jpg);
}
a {
    color: black;
}
.dark-mode {
    background-color: rgb(230, 227, 227);
    color: black;
}
button {
    background-color: rgb(238, 238, 238) ;
margin-left: 20px;
margin-bottom: 10px;
}
#homehead {
    background-color: rgba(103, 131, 112, 0.616);
    border-radius: 10px;
    font-size: 26px;
}
h2 {
    text-align: center;
}
.abtsec {
    border-top: 1px solid rgb(121, 121, 122);
}
#abtpicfish {
    height: 400px;
    margin-left: 250px;
    margin-top: 40px;
    float: left;
}
#abtpictrack {
    float: right;
    height: 400px;
    margin-right: 200px;
    margin-top: 40px;
}
h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
p {
    font-size: larger;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h3 {
    font-size: 23px;
}
.name {
   display: flex;
   flex-direction: row;
}
nav {
    font-size: 25px;
    display: block;
}
li { 
    background-color: rgba(103, 131, 112, 0.459);
    display: inline;
    text-align: center;
    border: 3px solid black;
    border-radius: 10px;
    padding: 5px 5px;
    margin: 7px;
}
ul {
    list-style-type: none;
    display: block;
    margin: 25px;
}
a {
color: darkgrey;
}
#h3home {
    text-align: center;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    background-color: rgb(121, 121, 122);
    padding-top: 15px;
}
.portpic {
    height: 200px;
    width: 250px;
}
.projectsec {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 12px;
    gap: 15px;
}
.flexport {
    background-color: rgba(103, 131, 112, 0.555);
    margin: 5px 5px;
width: 350px;
height: 410px;
border: 3px solid black;
}
html {
    text-align: center;
}