#Yoda {
border: 20px solid black;
height: 400px;
width: 700px;
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 150px;
}
body {
    background-color: rgb(72, 73, 75);
    color: black;
}
#header {
 color: black;
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 font-size: 20px;
background-color: rgb(121, 121, 122);
padding-bottom: 15px;
padding-top: 15px;
padding-left: 10px;
}
a {
    color: black;
    float: right;
}
.dark-mode {
    background-color: rgb(230, 227, 227);
    color: black;
}
button {
    background-color: rgb(238, 238, 238) ;

}
h2 {
    text-align: center;
}
.abtsec {
    border-top: 1px solid rgb(121, 121, 122);
}
.abtpic {
    height: 180px;
    float: right;
}
p {
    font-size: larger;
}
h3 {
    font-size: 23px;
}